<form action="login" method="post">

<input type="text" name="email" placeholder="Ingrese email">
<input type="password" name="password" placeholder="Ingrese contraseña">
<button type="submit">Iniciar sesión</button>
<br>
</form>
<br>
<a href="/api/user/restorepassword">Olvidé mi contraseña</a>