<form action="register" method="post">

<input type="text" name="first_name" placeholder="Ingrese su nombre">
<input type="text" name="last_name" placeholder="Ingrese su apellido">
<input type="number" name="age" placeholder="Ingrese su edad">
<input type="text" name="email" placeholder="Ingrese email">
<input type="password" name="password" placeholder="Ingrese contraseña">

<button type="submit">Registrarme</button>
</form>