<div>
  <form action="/api/user/restoreuserpassword" method="post">
    <input
      type="password"
      name="password"
      placeholder="Ingese nueva contraseña"
    />
    <input type="hidden" name="token" value={{token}}>
    <button type="submit">Enviar</button>
  </form>
</div>